
body {
    /* BASE */
	font-family: 'Nunito', sans-serif;
    background: $grey; /* colors.scss */
   
    .container {
        
        font-size: 1.5em;
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-areas: 
            "sidebar"
            "content"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 130px 800px 250px; /* 130px 800px 250px */
            
        /* sidebar */
        .sidebar {
            grid-area: sidebar;
            @extend %bckg-linear;  /* placeholders.scss */
            justify-content: center;
            padding: 1em;
            
            .sidebar-container-link{
                .sidebar-list-link {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    justify-content: space-between;
                    text-align: center;
                    
                    .sidebar-links {
                        list-style: none;
                        padding: 1em 0;
                        
                        .sidebar-link {
                            color: $white;
                            text-decoration: none;
                            font-weight: 700;
                            opacity: .6;
                            transition: .3s;
                            
                            &:hover {
                                opacity: 1;
                            }
                        }
                        
                    }
                }
                
            }
        }
    
        /* content */
        .content {
            grid-area: content;
            background-image: url(https://image.noelshack.com/fichiers/2018/33/7/1534702227-img-2.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100vh;
            padding: 1em;
           
                .hero-profil {
                    max-width: 960px;
                    margin: 0 auto;
                    text-align: center;

                    .hero-image{
                        border: 2px solid $white;
                        border-radius: 50%;
                        width: 200px;
                        margin-bottom: 1em; 
                    }

                    .hero-title {
                        font-size: 2em;
                        font-weight: 300;
                        color: $grey-2;
                    }

                    .hero-intro {
                        margin: 1em 0;
                        font-weight: 300;
                        line-height: 1.8em;
                        color: $grey-3;
                    }

                    .action-btn {
                        text-decoration: none;
                        background-color: $blue;
                        color: $white;
                        font-weight: 700;
                        padding: .5em 2em;
                        border-radius: 40px;
                        margin: 1em 0;
                        transition: .3s;
                        
                        &:hover {
                            box-shadow: 0 10px 50px $blue-2;
                        }
                    }
                }
        }
        
        /* footer */
        .footer {
            grid-area: footer;
            color: $white;
            padding: 1em;
            
            .footer-container-link {
                
                .footer-list-link {
                    max-width: 648px;
                    margin: 2em auto;
                    padding: 0;
                    text-align: center;
                    display: flex;
                    flex-direction: row;
                    
                    .footer-links {
                        list-style: none;
                        align-self: flex-end;
                        
                        .footer-link{
                            text-decoration: none;
                            color: $grey-5;
                            
                            svg {
                                width: 40%;
                            }
                            .nb_followers {
                                font-size: .8em;
                            }
                        }
                    }
                }
            }
            
        }
        
    }
    @media (min-width: 1040px) {
    .container {
        grid-template-areas: 
            "sidebar content"
            "sidebar footer";
        grid-template-columns: 300px 1fr;
        grid-template-rows: 1fr auto;
        
        .sidebar{
            background:linear-gradient(135deg, #01579b 0%, #039be5 100%);
            padding-top: 3em;
            
            .sidebar-container-link {
                .sidebar-list-link {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                }
                
            }
        }
        
        .content {

                .hero-profil {
                   
                    text-align: left;
                    margin: 2em auto;
                    
                    .hero-image{
                        width: 250px;
                        float: right;
                    }

                    .hero-title {
                        font-size: 3em;
                    }

                    .hero-intro {
                       width: 60%;
                    }
                    
                    .action-btn {
                        margin-top: 2em;
                    }
                }
        }
        
         .footer {
            
            
            .footer-container-link {
                
                .footer-list-link {
                    max-width: 960px;
                    margin: 0 auto;
                    padding: 2em 0;
                    
                    .footer-links {
                        
                        
                        .footer-link{
                            
                            
                            svg {
                               width: 20%;
                            }
                            .nb_followers {
                                
                            }
                        }
                    }
                }
            }
            
        }
        
        
    }
}
    
    
}